<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{base.html}">
<head>
    <title>관리자 수정</title>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <style>
        .error-message {
            color: red;
            text-align: center;
            margin-bottom: 10px;
        }
        input[type=checkbox], input[type=radio] {
            width: 50px; /* 가로 길이 설정 */
        }
    </style>
</head>
<body>
    <div class="content-wrapper" layout:fragment="content">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>관리자 수정</h1>
                    </div>
                </div>
            </div>
        </section>
        <section class="content">
            <div class="container-fluid">
                <div class="card">
                    <div class="card-body">
                        <div class="error-message" th:if="${error}" th:text="${error}"></div>
                        <form id="edit-form" th:action="@{/admin/update/admin/{userIndex}(userIndex=${admin.userIndex})}" method="post" class="form-container">
                            <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                            <div class="form-group">
                                <label for="userId">User ID</label>
                                <input type="text" class="form-control" id="userId" name="userId" th:value="${admin.userId}">
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" id="email" name="email" th:value="${admin.email}">
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password" name="password">
                            </div>
                            <div class="form-group">
                                <label for="active">Active</label>
                                <input type="checkbox" class="form-control" id="active" name="active" th:checked="${admin.active}">
                            </div>
                            <div class="buttons">
                                <button type="submit" class="btn btn-success">Save</button>
                                <a th:href="@{/admin/{userIndex}(userIndex=${admin.userIndex})}" class="btn btn-secondary">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script th:src="@{/adminlte/plugins/jquery/jquery.min.js}"></script>
    <script th:src="@{/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/adminlte/dist/js/adminlte.min.js}"></script>
</body>
</html>
