<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Board Admin</title>
    <link rel="stylesheet" th:href="@{/adminlte/plugins/fontawesome-free/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/adminlte/dist/css/adminlte.min.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <meta name="_csrf" th:content="${_csrf.token}"/>
</head>
<body class="hold-transition sidebar-mini">
