<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Find ID</title>
    <!-- AdminLTE CSS -->
    <link rel="stylesheet" href="https://adminlte.io/themes/v3/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="https://adminlte.io/themes/v3/dist/css/adminlte.min.css">
</head>
<body class="hold-transition login-page">
<div class="login-box">
    <div class="card card-outline card-primary">
        <div class="card-header text-center">
            <a href="#" class="h1"><b>Find</b>ID</a>
        </div>
        <div class="card-body">
            <p class="login-box-msg">Enter your email to find your ID</p>
            <form th:action="@{/findId}" method="post">
                <div class="input-group mb-3">
                    <input type="email" name="email" class="form-control" placeholder="Email" required>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-block">Find ID</button>
                    </div>
                </div>
            </form>
            <p th:if="${idFound}" class="mt-3">
                Your ID: <span th:text="${maskedId}"></span>
                <form th:action="@{/sendIdEmail}" method="post" class="mt-2">
                    <input type="hidden" name="email" th:value="${email}">
                    <button type="submit" class="btn btn-secondary btn-block">Send ID to Email</button>
                </form>
            </p>
        </div>
    </div>
</div>
<!-- AdminLTE JS -->
<script src="https://adminlte.io/themes/v3/plugins/jquery/jquery.min.js"></script>
<script src="https://adminlte.io/themes/v3/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="https://adminlte.io/themes/v3/dist/js/adminlte.min.js"></script>
</body>
</html>
