<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <!-- AdminLTE CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/3.1.0/css/adminlte.min.css">
</head>
<body class="hold-transition register-page">
<div class="register-box">
    <div class="card card-outline card-primary">
        <div class="card-header text-center">
            <a href="#" class="h1">Sign Up</a>
        </div>
        <div class="card-body">
            <p class="login-box-msg"></p>
            <form th:action="@{/signup}" method="post" th:object="${user}">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="ID" th:field="*{userId}" required>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-user"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="email" class="form-control" placeholder="Email" th:field="*{email}" required>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="password" class="form-control" placeholder="Password" th:field="*{password}" required>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                <a href="/login" class="text-center">I already have a membership</a>
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary btn-block">가입</button>
                    </div>
                </div>
            </form>
            <div th:if="${error}" class="alert alert-danger mt-3">
                <span th:text="${error}"></span>
            </div>
        </div>
    </div>
</div>
<!-- AdminLTE JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/3.1.0/js/adminlte.min.js"></script>
</body>
</html>
