<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link rel="stylesheet" th:href="@{/adminlte/plugins/fontawesome-free/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/adminlte/dist/css/adminlte.min.css}">
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <b>로그인</b>
        </div>
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg"></p>
                <form th:action="@{/login}" method="post">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="username" placeholder="Username" required>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" name="password" placeholder="Password" required>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                       <p class="mb-0"style = "width : 180px">
                    <a th:href="@{/register}" class="text-center" style= "padding-left: 20px; padding-top: 20px;" >회원 가입</a>
                		</p>
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                        </div>
                    </div>
                </form>
                <p class="mb-1">
                    <a th:href="@{/forgot-password}">아이디, 비밀번호 찾기</a>
                </p>

            </div>
        </div>
    </div>
    <script th:src="@{/adminlte/plugins/jquery/jquery.min.js}"></script>
    <script th:src="@{/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/adminlte/dist/js/adminlte.min.js}"></script>
</body>
</html>
