<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="sidebarFragment">
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <a href="#" class="brand-link text-center">
            <span class="brand-text font-weight-light">board-admin</span>
        </a>
        <div class="sidebar">
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    <li class="nav-item menu-open">
                        <a href="#" class="nav-link active">
                            <i class="fa fa-user nav-icon"></i>
                            <p>
                                사용자 관리
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="/admin/admins" class="nav-link active">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>관리자</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/admin/users" class="nav-link">
                                    <i class="far nav-icon"></i>
                                    <p>회원</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item menu-close">
                        <a href="/boards" class="nav-link">
                            <i class="fa fa-window-maximize nav-icon"></i>
                            <p>
                                게시판 관리
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="/boards" class="nav-link" th:classappend="${servletPath == '/boards'} ? 'active'">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>게시판 목록</p>
                                </a>
                            </li>
                            <li class="nav-item" th:each="board : ${boards}">
                                <a th:href="@{'/posts/board/' + ${board.boardId}}" class="btn btn-sm nav-link text-left">
                                    <i class="far nav-icon"></i>
                                    <p th:text="${board.name}"></p>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </aside>
</th:block>
</html>
